@import url('https://fonts.googleapis.com/css2?family=Laila:wght@700&family=Open+Sans:wght@400;600;700;800&family=Poppins:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#home-page {
  width: 100%;
  background-image: url("photo/mountain.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding-top: 300px;
  padding-bottom: 200px;
}

#home-page nav {
  width: 100%;
  padding: 20px 135px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 381px;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: black;
}

#home-page nav h1 {
  color: #fff;
  text-align: center;
  font-family: Laila;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 102.5%;
}

#home-page nav h1 span {
  color: #fff;
  font-family: Laila;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 102.5%;
}

#home-page nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 76px;
}

#home-page nav ul li {
  list-style-type: none;
}

#home-page nav ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#home-page nav .logo {
  display: flex;
  gap: 36px;
  align-items: center;
}

#home-page h2 {
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 75px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

#home-page p {
  margin-top: 57px;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#home-page button {
  /* position: absolute; */
  /* left: 650px; */
  display: block;
  margin: auto;
  margin-top: 39px;
  padding: 20px 24px;
  border-radius: 10px;
  background: #00a651;
  border: none;
}

#home-page button a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Services-page design  */

#services-page {
  width: 100%;
  background: #fff;
}
.our-service {
  padding: 100px 145px 113px 145px;
}
#services-page h1 {
  margin-bottom: 63px;
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#services-page ul {
  display: flex;
  justify-content: space-between;
}

#services-page ul li {
  width: 30%;
  padding: 44px 50px 20px 38px;
  list-style-type: none;
  border-radius: 15px;
  background: #f9f9f9;
}

#services-page ul li:nth-child(2) {
  padding: 35px 51px 20px 46px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
}

#services-page ul li h3 {
  margin-top: 44px;
  color: #000;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#services-page ul li p {
  margin-top: 19px;
  color: #000;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#services-page ul li:nth-child(2) h3,
#services-page ul li:last-child h3 {
  margin-top: 36px;
}

#services-page ul li:last-child {
  padding: 39px 46px 20px 45px;
}

#services-page .best-service {
  width: 100%;
  padding: 81px 167px 113px 176px;
  /* background: rgba(0, 88, 83, 0.05); */
}

#services-page .best-service h4 {
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#services-page .best-service p {
  margin-top: 19px;
  margin-bottom: 118px;
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.best-service {
  background: none;
  background-image: url("./photo/map.jpg");
  background-size: cover;
  background-attachment: fixed;
}

#services-page .best-service ul li {
  width: 23%;
  padding: 43px 85px 22px 74px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 15px;
  background: #fff;
  box-shadow: none;
}

#services-page .best-service ul li h5 {
  color: #000;
  font-family: Open Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#services-page .best-service ul li h6 {
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#distinations-page {
  width: 100%;
  padding: 72px 0 43px 0;
}

#distinations-page h1 {
  margin-bottom: 63px;
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#distinations-page .flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#distinations-page .flex-box ul li {
  display: flex;
  align-items: center;
  margin-bottom: 42px;
  list-style-type: none;
}

#distinations-page .flex-box ul li img {
  width: 223px;
  height: 223px;
}

#distinations-page .flex-box ul li .about-box {
  padding: 83px 35px 86px 49px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  border-radius: 15px;
background: #FFF;
box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.08);
}

#distinations-page .flex-box ul li .about-box h2 {
  margin-left: 49px;
  margin-right: 49px;
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#distinations-page .flex-box ul li .about-box p {
  margin-right: 93px;
  color: #000;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* packages-page design  */

#packages-page{
  width: 100%;
  padding: 59px 146px 105px 155px;
  background: #ECF1F0;
}

#packages-page h1{
  margin-bottom: 52px;
  color: #000;
text-align: center;
font-family: Open Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

#packages-page .button-box{
  margin-bottom: 107px;
}

#packages-page .button-box ul{
  display: flex;
  justify-content: space-between;
}

#packages-page .button-box ul li{
  list-style-type: none;
}

#packages-page .button-box ul li button{
  width: 180px;
height: 60px;
border: none;
  border-radius: 10px;
background: #666;
}

#packages-page .button-box ul li:first-child button{
  border-radius: 10px;
background: #00A651;
}

#packages-page .button-box ul li button a{
  text-decoration: none;
  color: #FFF;
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

#packages-page .directions-box ul{
  display: flex;
  justify-content: space-between;
  margin-bottom: 98px;
}

#packages-page .directions-box ul li{
  width: 32%;
  position: relative;
  list-style-type: none;
}

#packages-page .directions-box ul li 
.city{
  width: 434px;
  padding: 10px 11px 17px 15px;
  position: absolute;
  top: 338px;
border-radius: 0px 0px 15px 15px;
background: #FFF;
}

#packages-page .directions-box ul li 
.city .price-box{
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

#packages-page .directions-box ul li 
.city .price-box h2,
#packages-page .directions-box ul li 
.city .price-box h3{
  color: #000;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#packages-page .directions-box ul li 
.city p{
  margin-bottom: 35px;
  color: rgba(0, 0, 0, 0.81);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

#packages-page .directions-box ul li 
.city .location-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#packages-page .directions-box ul li 
.city .location-box .city-location{
  display: flex;
  align-items: center;
}

#packages-page .directions-box ul li 
.city .location-box .city-location{
  color: #000;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

#packages-page .directions-box ul li 
.city .location-box a{
  color: #000;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration-line: underline;
}

#packages-page .directions-box button{
  width: 300px;
height: 70px;
display: block;
margin: auto;
border-radius: 10px;
border: none;
background: #00A651;
}

#packages-page .directions-box button a{
  text-decoration: none;
  color: #FFF;
text-align: center;
font-family: Open Sans;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

/* steps-page design  */
#steps-page{
  width: 100%;
  padding: 62px 290px 92px 290px;
}

#steps-page h1{
  color: #000;
text-align: center;
font-family: Open Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

#steps-page h2{
  margin-bottom: 128px;
  color: #000;
text-align: center;
font-family: Open Sans;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

#steps-page .general-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#steps-page .step ul li {
  margin-bottom: 66px;
  list-style-type: none;
}

#steps-page .step ul li .fleksboks{
  display: flex;
  align-items: center;
}

#steps-page .step ul li .box h3{
  margin-bottom: 6px;
  color: var(--TEXT-CLR, #5E6282);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 124.5%;
}

#steps-page .step ul li .box{
  margin-left: 29px;
}

#steps-page .step ul li .box p{
  color: var(--TEXT-CLR, #5E6282);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 124.5%;
}

#steps-page .post-1{
  width: 370px;
  padding: 20px 24px 31px 25px;
  position: relative;
  border-radius: 26px;
  background: var(--white, #FFF);
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.00), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}

#steps-page .post-1 h4{
  margin-top: 25px;
  margin-bottom: 13px;
  color: var(--black, #080809);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 124.5%; 
letter-spacing: 0.27px;  
}

#steps-page .post-1 p{
  margin-bottom: 21px;
  color: var(--text-2, #84829A);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 124.5%; 
letter-spacing: -0.08px;
}

#steps-page .post-1 p span{
  margin-left: 13px;
}

#steps-page .post-1 .logo-box{
  display: flex;
  gap: 15px;
  margin-bottom: 29px;
}

#steps-page .post-1 .logo-box .logo-1 {
  width: 36px;
  height: 36px;
  display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
background-color: #F0F0F0;
}

#steps-page .post-1 .about{
  display: flex;
}

#steps-page .post-1 .about h5{
  margin-left: 15px;
  margin-right: 143px;
  color: var(--text-2, #84829A);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 124.5%; 
letter-spacing: -0.32px;
}

#steps-page .post-2 {
  width: 263px;
padding: 16px 25px 22px 7px;
position: absolute;
bottom: 54px;
left: 232px;
border-radius: 18px;
background: var(--white, #FFF);
box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.00), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}

#steps-page .post-2 .img-flex{
  display: flex;
  /* align-items: center; */
}

#steps-page .post-2 img{
  width: 74px;
height: 66px;
margin-right: 10px;
border-radius: 50%;
}

#steps-page .post-2 .text h6{
  margin-bottom: 6px;
  color: var(--text-2, #84829A);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 124.5%; 
letter-spacing: -0.49px;
}

#steps-page .post-2 .text p{
  color: var(--black, #080809);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 124.5%; 
letter-spacing: -0.27px;
}

#steps-page .post-2 .downloading-box{
  margin-left: 80px;
  margin-top: 9px;
}

#steps-page .post-2 .downloading-box p{
  color: var(--1, #8A79DF);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 124.5%; 
letter-spacing: -0.77px;
}

#steps-page .post-2 .downloading-box p span{
  color: var(--black, #080809);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 124.5%;
letter-spacing: -0.77px;
}